* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1280px; /*IS THIS TOO BIG? ITS DPI LAPTOP*/
    width: 85%;
    margin: 0 auto;
}

@mixin font-size($size-value) {
    font-size: $size-value * 1px;
    font-size: ($size-value/20) * 1rem;
}
